$darkModeElements: hsl(209, 23%, 22%);
$darkModeBgc: hsl(207, 26%, 17%);
$lightModeText: hsl(200, 15%, 8%);
$lightModeInput: hsl(0, 0%, 52%);
$lightModeBgc: hsl(0, 0%, 98%);
$darkModeTextAndLightModeElem: hsl(0, 0%, 100%);

$transitionDarkTheme: .2s linear;