* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

html {
  font-size: 10px;
}

.heading {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 75px;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 999;
  background-color: #fff;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  padding: 0 30px;
  -webkit-box-shadow: 0px 0px 5px 1px #eee;
          box-shadow: 0px 0px 5px 1px #eee;
}

@media (min-width: 1024px) {
  .heading {
    padding-left: 70px;
    padding-right: 70px;
  }
}

@media (min-width: 1440px) {
  .heading {
    padding-left: 85px;
    padding-right: 85px;
  }
}

.heading--darkMode {
  background-color: #2b3945;
  -webkit-box-shadow: 0px 0px 5px 1px #222;
          box-shadow: 0px 0px 5px 1px #222;
  color: white;
}

.heading__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.heading__title {
  font-size: 1.6rem;
  font-weight: 800;
  margin: 0;
}

@media (min-width: 1024px) {
  .heading__title {
    font-size: 1.8rem;
  }
}

.heading__darkMode {
  cursor: pointer;
}

.heading__darkModeTitle {
  font-size: 1.4rem;
  margin: 0;
}

.heading .far {
  margin-right: 7.5px;
}

.searcher {
  background-color: #fafafa;
  padding-top: 110px;
  padding-bottom: 25px;
  padding-left: 30px;
  padding-right: 30px;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

@media (min-width: 1024px) {
  .searcher {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 70px;
    padding-right: 70px;
  }
}

@media (min-width: 1440px) {
  .searcher {
    padding-left: 85px;
    padding-right: 85px;
  }
}

.searcher--darkMode {
  background-color: #202c37;
}

.searcher__inputWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  -webkit-box-shadow: 0px 0px 5px 1px #eee;
          box-shadow: 0px 0px 5px 1px #eee;
}

.searcher__inputWrap--darkMode {
  background-color: #2b3945;
  -webkit-box-shadow: 0px 0px 5px 1px #222;
          box-shadow: 0px 0px 5px 1px #222;
}

@media (min-width: 800px) {
  .searcher__inputWrap {
    max-width: 400px;
    margin: 0 auto 0 0;
  }
}

.searcher__inputWrap .fas {
  cursor: pointer;
  font-size: 15px;
  margin-right: 5px;
}

.searcher__inputWrap .fas:hover {
  color: red;
}

.form-control {
  border: none;
  height: 45px;
  padding-left: 10px;
  font-size: 1.5rem;
  width: 100%;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.form-control:enabled {
  background-color: #fff;
}

.form-control--darkMode:enabled {
  background-color: #2b3945;
  color: white;
}

.form-control--darkMode::-webkit-input-placeholder {
  color: white;
}

.form-control--darkMode:-ms-input-placeholder {
  color: white;
}

.form-control--darkMode::-ms-input-placeholder {
  color: white;
}

.form-control--darkMode::placeholder {
  color: white;
}

.custom-select {
  border: none;
  width: 170px;
  margin: 25px auto 0;
  height: 45px;
  font-size: 1.5rem;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  -webkit-box-shadow: 0px 0px 5px 1px #eee;
          box-shadow: 0px 0px 5px 1px #eee;
}

.custom-select--darkMode {
  background-color: #2b3945;
  -webkit-box-shadow: 0px 0px 5px 1px #222;
          box-shadow: 0px 0px 5px 1px #222;
  color: white;
}

@media (min-width: 1024px) {
  .custom-select {
    margin-top: 0;
  }
}

main {
  background-color: #fafafa;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.main--darkMode {
  background-color: #202c37;
}

.countries {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  padding-left: 30px;
  padding-right: 30px;
}

@media (min-width: 800px) {
  .countries {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 1024px) {
  .countries {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.card {
  margin: 0 auto;
  margin-bottom: 70px;
  border-radius: 5px;
  border: none;
  -webkit-box-shadow: 0px 0px 5px 1px #eee;
          box-shadow: 0px 0px 5px 1px #eee;
  width: 285px;
  height: 375px;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  background-color: white;
  cursor: pointer;
}

.card--darkMode {
  background-color: #2b3945;
  -webkit-box-shadow: 0px 0px 5px 1px #222;
          box-shadow: 0px 0px 5px 1px #222;
}

@media (min-width: 1200px) {
  .card {
    width: 20%;
    margin-left: 25px;
    margin-right: 25px;
  }
}

.card__txt {
  margin-bottom: 5px;
}

@media (min-width: 1440px) {
  .card__txt {
    font-size: 1.6rem;
  }
}

.card__img {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  width: 100%;
  height: 160px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 15px;
}

@media (min-width: 1440px) {
  .card__img {
    height: 175px;
  }
}

.card-body {
  width: 100%;
  text-align: start;
  padding: 20px 33px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  color: #111517;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  background-color: transparent;
}

.card-body--darkMode {
  color: white;
}

.card__title {
  font-size: 1.7rem;
  font-weight: 800;
  margin-bottom: 20px;
}

@media (min-width: 1440px) {
  .card__title {
    font-size: 2rem;
  }
}

.span__type {
  font-size: 1.4rem;
  font-weight: 600;
  margin-right: 5px;
}

.span__api {
  font-size: 1.4rem;
}

.select {
  cursor: pointer;
}

.details {
  position: fixed;
  top: 75px;
  left: -110%;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #fafafa;
  z-index: 999;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  padding: 20px;
}

@media (min-width: 1024px) {
  .details {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 20px 100px;
  }
}

.details--darkMode {
  background-color: #202c37;
}

.details__btnWrap {
  width: 100%;
}

@media (min-width: 1024px) {
  .details__btnWrap {
    padding-top: 50px;
  }
}

.details__btn {
  width: 70px;
  height: 25px;
  background-color: #fff;
  border: 0;
  -webkit-box-shadow: 0px 0px 5px 1px #eee;
          box-shadow: 0px 0px 5px 1px #eee;
  font-size: 1.4rem;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  cursor: pointer;
}

@media (min-width: 1440px) {
  .details__btn {
    margin-left: 70px;
  }
}

.details__btn--darkMode {
  background-color: #2b3945;
  -webkit-box-shadow: 0px 0px 5px 1px #222;
          box-shadow: 0px 0px 5px 1px #222;
  color: white;
}

.details__img {
  width: 100%;
  height: 200px;
  background-position: center;
  background-size: cover;
  margin: 25px 0px;
  background-repeat: no-repeat;
}

@media (min-width: 1024px) {
  .details__img {
    width: 40vw;
    height: 300px;
    margin: 0;
    background-size: contain;
  }
}

@media (min-width: 1200px) {
  .details__img {
    height: 370px;
    margin-right: 25px;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

.details__itemsOne, .details__itemsTwo {
  list-style: none;
  font-size: 1.5rem;
  font-weight: 600;
}

.details__span {
  margin-left: 10px;
  font-size: 1.4rem;
  font-weight: 500;
}

@media (min-width: 1024px) {
  .details__allInformation {
    width: 40vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    -ms-flex-item-align: center;
        align-self: center;
  }
}

@media (min-width: 1024px) {
  .details__ulWrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 50px 0px;
  }
}

.details__listTwo {
  margin-top: 25px;
}

@media (min-width: 1024px) {
  .details__listTwo {
    margin: 0px 20px;
  }
}

.details__detailsWrap {
  width: 100%;
}

@media (min-width: 1024px) {
  .details__detailsWrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 100px;
  }
}

.name {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 20px;
}

@media (min-width: 1024px) {
  .name {
    width: 100%;
  }
}

.name--darkMode {
  color: white;
}

.borders__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 1024px) {
  .borders__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.borders__items {
  list-style: none;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0px 10px;
  background-color: #fff;
  border: 0;
  -webkit-box-shadow: 0px 0px 5px 1px #eee;
          box-shadow: 0px 0px 5px 1px #eee;
  padding: 2.5px 20px;
}

.borders__items--darkMode {
  background-color: #2b3945;
  -webkit-box-shadow: 0px 0px 5px 1px #222;
          box-shadow: 0px 0px 5px 1px #222;
}

.borders__name {
  width: 100%;
  height: auto;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  margin-bottom: 25px;
}

@media (min-width: 1024px) {
  .borders__name {
    width: auto;
    margin: 0;
    margin-right: 10px;
  }
}

li.darkMode {
  color: white;
}
/*# sourceMappingURL=style.css.map */